.head {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
.head a {
	text-decoration: none;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear
}

.fade.in {
	opacity: 1
}

.collapse {
	display: none
}

.collapse.in {
	display: block
}

tr.collapse.in {
	display: table-row
}

tbody.collapse.in {
	display: table-row-group
}

.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-property: height, visibility;
	transition-property: height, visibility;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}

.dropup,
.dropdown {
	position: relative
}

.dropdown-toggle:focus {
	outline: 0
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box
}

.dropdown-menu.pull-right {
	right: 0;
	left: auto
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	background-color: #337ab7
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
	color: #777
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
	cursor: not-allowed
}

.open>.dropdown-menu {
	display: block
}

.open>a {
	outline: 0
}

.dropdown-menu-right {
	left: auto;
	right: 0
}

.dropdown-menu-left {
	left: 0;
	right: auto
}

.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #777;
	white-space: nowrap
}

.dropdown-backdrop {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 990
}

.pull-right>.dropdown-menu {
	right: 0;
	left: auto
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px dashed;
	border-bottom: 4px solid \9;
	content: ""
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 2px
}

@media (min-width: 1px) {
	.navbar-right .dropdown-menu {
		right: 0;
		left: auto
	}
	.navbar-right .dropdown-menu-left {
		left: 0;
		right: auto
	}
}

.nav {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none
}

.nav:before,
.nav:after {
	content: " ";
	display: table
}

.nav:after {
	clear: both
}

.nav>li {
	position: relative;
	display: block
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px
}

.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: none;
	background-color: #eee
}

.nav>li.disabled>a {
	color: #777
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
	color: #777;
	text-decoration: none;
	background-color: transparent;
	cursor: not-allowed
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background-color: #eee;
	border-color: #337ab7
}

.nav .nav-divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}

.nav>li>a>img {
	max-width: none
}

.nav-tabs {
	border-bottom: 1px solid #ddd
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0
}

.nav-tabs>li>a:hover {
	border-color: #eee #eee #ddd
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: #555;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default
}

.nav-pills>li {
	float: left
}

.nav-pills>li>a {
	border-radius: 4px
}

.nav-pills>li+li {
	margin-left: 2px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #337ab7
}

.nav-stacked>li {
	float: none
}

.nav-stacked>li+li {
	margin-top: 2px;
	margin-left: 0
}

.nav-justified,
.nav-tabs.nav-justified {
	width: 100%
}

.nav-justified>li,
.nav-tabs.nav-justified>li {
	float: none
}

.nav-justified>li>a,
.nav-tabs.nav-justified>li>a {
	text-align: center;
	margin-bottom: 5px
}

.nav-justified>.dropdown .dropdown-menu {
	top: auto;
	left: auto
}

@media (min-width: 1px) {
	.nav-justified>li,
	.nav-tabs.nav-justified>li {
		display: table-cell;
		width: 1%
	}
	.nav-justified>li>a,
	.nav-tabs.nav-justified>li>a {
		margin-bottom: 0
	}
}

.nav-tabs-justified,
.nav-tabs.nav-justified {
	border-bottom: 0
}

.nav-tabs-justified>li>a,
.nav-tabs.nav-justified>li>a {
	margin-right: 0;
	border-radius: 4px
}

.nav-tabs-justified>.active>a,
.nav-tabs.nav-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:focus {
	border: 1px solid #ddd
}

@media (min-width: 1px) {
	.nav-tabs-justified>li>a,
	.nav-tabs.nav-justified>li>a {
		border-bottom: 1px solid #ddd;
		border-radius: 4px 4px 0 0
	}
	.nav-tabs-justified>.active>a,
	.nav-tabs.nav-justified>.active>a,
	.nav-tabs-justified>.active>a:hover,
	.nav-tabs.nav-justified>.active>a:hover,
	.nav-tabs-justified>.active>a:focus,
	.nav-tabs.nav-justified>.active>a:focus {
		border-bottom-color: #fff
	}
}

.tab-content>.tab-pane {
	display: none
}

.tab-content>.active {
	display: block
}

.nav-tabs .dropdown-menu {
	margin-top: -1px;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

.navbar {
	position: relative;
	min-height: 61px;
	margin-bottom: 0;
	border: 1px solid transparent
}

.navbar:before,
.navbar:after {
	content: " ";
	display: table
}

.navbar:after {
	clear: both
}

@media (min-width: 1px) {
	.navbar {
		border-radius: 4px
	}
}

.navbar-header:before,
.navbar-header:after {
	content: " ";
	display: table
}

.navbar-header:after {
	clear: both
}

@media (min-width: 1px) {
	.navbar-header {
		float: left
	}
}

.navbar-collapse {
	overflow-x: visible;
	padding-right: 0;
	padding-left: 0;
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-overflow-scrolling: touch
}

.navbar-collapse:before,
.navbar-collapse:after {
	content: " ";
	display: table
}

.navbar-collapse:after {
	clear: both
}

.navbar-collapse.in {
	overflow-y: auto
}

@media (min-width: 1px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		box-shadow: none
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important
	}
	.navbar-collapse.in {
		overflow-y: visible
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-left: 0;
		padding-right: 0
	}
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
	max-height: 340px
}

@media (max-device-width: 480px) and (orientation: landscape) {
	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		max-height: 200px
	}
}

.cloud-container>.navbar-header,
.cloud-container>.navbar-collapse,
.cloud-container-fluid>.navbar-header,
.cloud-container-fluid>.navbar-collapse {
	margin-right: -15px;
	margin-left: -15px
}

@media (min-width: 1px) {
	.cloud-container>.navbar-header,
	.cloud-container>.navbar-collapse,
	.cloud-container-fluid>.navbar-header,
	.cloud-container-fluid>.navbar-collapse {
		margin-right: 0;
		margin-left: 0
	}
}

.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px
}

@media (min-width: 1px) {
	.navbar-static-top {
		border-radius: 0
	}
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030
}

@media (min-width: 1px) {
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		border-radius: 0
	}
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px
}

.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0
}

.navbar-brand {
	float: left;
	padding: 20.5px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 61px
}

.navbar-brand:hover,
.navbar-brand:focus {
	text-decoration: none
}

.navbar-brand>img {
	display: block
}

@media (min-width: 1px) {
	.navbar>.cloud-container .navbar-brand,
	.navbar>.cloud-container-fluid .navbar-brand {
		margin-left: -15px
	}
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 13.5px;
	margin-bottom: 13.5px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.navbar-toggle:focus {
	outline: 0
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 4px
}

@media (min-width: 1px) {
	.navbar-toggle {
		display: none
	}
}

.navbar-nav {
	margin: 10.25px -15px
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px
}

@media (max-width: 0px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none
	}
	.navbar-nav .open .dropdown-menu>li>a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px
	}
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 20px
	}
	.navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-nav .open .dropdown-menu>li>a:focus {
		background-image: none
	}
}

@media (min-width: 1px) {
	.navbar-nav {
		float: left;
		margin: 0
	}
	.navbar-nav>li {
		float: left
	}
	.navbar-nav>li>a {
		padding-top: 20.5px;
		padding-bottom: 20.5px
	}
}

.navbar-form {
	margin-left: -15px;
	margin-right: -15px;
	padding: 10px 15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
	margin-top: 13.5px;
	margin-bottom: 13.5px
}

@media (min-width: 1px) {
	.navbar-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle
	}
	.navbar-form .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle
	}
	.navbar-form .form-control-static {
		display: inline-block
	}
	.navbar-form .input-group {
		display: inline-table;
		vertical-align: middle
	}
	.navbar-form .input-group .input-group-addon,
	.navbar-form .input-group .input-group-btn,
	.navbar-form .input-group .form-control {
		width: auto
	}
	.navbar-form .input-group>.form-control {
		width: 100%
	}
	.navbar-form .control-label {
		margin-bottom: 0;
		vertical-align: middle
	}
	.navbar-form .radio,
	.navbar-form .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}
	.navbar-form .radio label,
	.navbar-form .checkbox label {
		padding-left: 0
	}
	.navbar-form .radio input[type="radio"],
	.navbar-form .checkbox input[type="checkbox"] {
		position: relative;
		margin-left: 0
	}
	.navbar-form .has-feedback .form-control-feedback {
		top: 0
	}
}

@media (max-width: 0px) {
	.navbar-form .form-group {
		margin-bottom: 5px
	}
	.navbar-form .form-group:last-child {
		margin-bottom: 0
	}
}

@media (min-width: 1px) {
	.navbar-form {
		width: auto;
		border: 0;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
	margin-bottom: 0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.navbar-btn {
	margin-top: 13.5px;
	margin-bottom: 13.5px
}

.navbar-btn.btn-sm {
	margin-top: 15.5px;
	margin-bottom: 15.5px
}

.navbar-btn.btn-xs {
	margin-top: 19.5px;
	margin-bottom: 19.5px
}

.navbar-text {
	margin-top: 20.5px;
	margin-bottom: 20.5px
}

@media (min-width: 1px) {
	.navbar-text {
		float: left;
		margin-left: 15px;
		margin-right: 15px
	}
}

@media (min-width: 1px) {
	.navbar-left {
		float: left !important
	}
	.navbar-right {
		float: right !important;
		margin-right: -10px
	}
	.navbar-right~ .navbar-right {
		margin-right: 0
	}
}

.navbar-default {
	background-color: #f3f1f1;
	border-color: #e4dfdf
}

.navbar-default .navbar-brand {
	color: #777
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #5e5e5e;
	background-color: transparent
}

.navbar-default .navbar-text {
	color: #f3f1f1
}

.navbar-default .navbar-nav>li>a {
	color: #777
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #428bca;
	background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #428bca;
	background-color: transparent
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
	color: #ccc;
	background-color: transparent
}

.navbar-default .navbar-toggle {
	border-color: #ddd
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #888
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #e4dfdf
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background-color: transparent;
	color: #428bca
}

@media (max-width: 0px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #777
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #428bca;
		background-color: transparent
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #428bca;
		background-color: transparent
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
		color: #ccc;
		background-color: transparent
	}
}

.navbar-default .navbar-link {
	color: #777
}

.navbar-default .navbar-link:hover {
	color: #428bca
}

.navbar-default .btn-link {
	color: #777
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
	color: #428bca
}

.navbar-default .btn-link[disabled]:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:hover,
fieldset[disabled] .navbar-default .btn-link:focus {
	color: #ccc
}

.navbar-inverse {
	background-color: #222;
	border-color: #090909
}

.navbar-inverse .navbar-brand {
	color: #9d9d9d
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
	color: #fff;
	background-color: transparent
}

.navbar-inverse .navbar-text {
	color: #9d9d9d
}

.navbar-inverse .navbar-nav>li>a {
	color: #9d9d9d
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
	color: #fff;
	background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #090909
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
	color: #444;
	background-color: transparent
}

.navbar-inverse .navbar-toggle {
	border-color: #333
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #fff
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #101010
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #090909;
	color: #fff
}

@media (max-width: 0px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
		border-color: #090909
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
		background-color: #090909
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #9d9d9d
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #fff;
		background-color: transparent
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #fff;
		background-color: #090909
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
	.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
		color: #444;
		background-color: transparent
	}
}

.navbar-inverse .navbar-link {
	color: #9d9d9d
}

.navbar-inverse .navbar-link:hover {
	color: #fff
}

.navbar-inverse .btn-link {
	color: #9d9d9d
}

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
	color: #fff
}

.navbar-inverse .btn-link[disabled]:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus {
	color: #444
}

	.head-site-lists a,.details-message-site .dropdown-toggle .placeholder,.details-message-site .select-site-name,.details-message-site .select-site-url,.panel-contact p,.details-recommend li .details-recommend-title {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.cloud-container {
	width: 1000px;
	margin: 0 auto;
}

.pull-left {
	float: left;
}
.head {
	border-bottom:1px solid #d9dbde;
	margin-bottom:-1px;
	width: 100%;
	min-width: 1200px;
}
.head .iconfont {
	margin-right:0.2em
}
.head .navbar {
	border:0 !important
}
.head .new-message {
	position:relative;
	font-size:10px;
	display:inline-block;
	line-height:15px;
	font-family:"微软雅黑","microsoft yahei"
}
.head-small {
	background:#f3f1f1
}
.head-small .navbar-header {
	display:none
}
.head-small .navbar {
	font-size:12px;
	height:35px;
	min-height:35px
}
.head-small .navbar-nav>li>a {
	padding:0 10px;
	line-height:35px;
	font-family:SimSun,'宋体'
}
.head-small .head-nav {
	margin-left:-10px
}
.head-small .head-nav>a {
	padding-left:25px;
	padding-right:25px
}
.head-small .head-nav .active,.head-small .head-nav .details-message-versions a:hover,.details-message-versions .head-small .head-nav a:hover {
	color:#428bca
}
.head-small .head-nav li:hover {
	color:#428bca
}
.head-small .new-message {
	background-color:transparent;
	color:#f10000;
	font-weight:800;
	width:auto;
	height:auto;
	left:0;
	margin-left: 5px;
	font-size:10px
}
.head-small .navbar-right .icon_ {
	font-size:14px;
	position:relative;
	top:1px;
	margin-right:3px
}
.head-small .navbar-right .user-avatar-xs {
	display:none
}

.head-user-info {
	width:244px;
	border:1px solid #d9dbde;
	padding:0;
	border-radius:0;
	cursor:pointer
}
.head-user-info li {
	padding:12px 7px;
	border-bottom:1px solid #d9dbde
}
.head-user-info li a {
	color:#404040 !important;
	display:inline-block;
	width:72px;
	margin-right:-3px;
	text-align:center
}
.head-user-info li a:hover {
	background-color:transparent !important;
	color:#428bca !important
}
.head-user-info li a:first-child {
	border-right:1px solid #D9DBDE
}
.head-user-info .head-user-head {
	background-color:#F3F3F3;
	padding-left:27px;
	padding-right:27px
}
.head-user-info .head-user-head p {
	margin-left:78px;
	color:#373D41;
	margin-top:8px;
	margin-bottom:0
}
.head-user-info .head-user-logout {
	text-align:right
}
.head-user-info .head-user-logout a {
	color:#909090 !important;
	border:0 !important;
	width:auto
}
.head-user-info i {
	margin-right:14px
}
.head-site-lists {
	border-radius:0;
	border:1px solid #d9dbde;
	width:290px;
	padding:0
}
.head-site-lists li {
	padding:0 7px
}
.head-site-lists .head-site-list {
	border-bottom:1px solid #d9dbde;
	color:#404040
}
.head-site-lists a {
	color:#404040 !important;
	line-height:50px !important
}
.head-site-lists a .iconfont {
	font-size:1.5em;
	margin-right:14px
}
.head-site-lists a:hover {
	background-color:transparent !important;
	color:#428bca !important
}
.head-site-lists .head-site-foot {
	background:#f3f3f3;
	text-align:right;
	height:35px
}
.head-site-lists .head-site-foot a {
	color:#428BCA !important;
	line-height:30px !important;
	display:inline-block
}
.head-site-lists .head-site-no {
	text-align:center;
	padding-top:25px;
	padding-left:20px;
	color:#666666;
	padding-bottom:30px
}
.head-site-lists .head-site-no:after {
	content:'';
	height:35px;
	background:#f3f3f3
}
.head-site-lists .head-site-no .btn-we7 {
	padding:10px 15px;
	line-height:1 !important;
	color:#fff !important;
	font-size:12px
}
.head-site-lists .head-site-no .btn-we7:hover {
	background-color:#428bca !important;
	color:#fff !important
}
.user-avatar-xs {
	width:35px;
	height:35px;
	margin-top:-6px;
	margin-bottom:-6px
}
.user-avatar-sm {
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
@font-face {font-family: "wi";
  src: url('http://s.we7.cc/resource/fonts/wechat/we7icon.eot?t=1477304614338'); /* IE9*/
  src: url('http://s.we7.cc/resource/fonts/wechat/we7icon.eot?t=1477304614338#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://s.we7.cc/resource/fonts/wechat/we7icon.woff?t=1477304614338') format('woff'), /* chrome, firefox */
  url('http://s.we7.cc/resource/fonts/wechat/we7icon.ttf?t=1477304614338') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('http://s.we7.cc/resource/fonts/wechat/we7icon.svg?t=1477304614338#wi') format('svg'); /* iOS 4.1- */
}
.wi {
  font-family:"wi" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.wi-ad:before { content: "\e665"; }

.wi-bug:before { content: "\e666"; }

.wi-home:before { content: "\e667"; }

.wi-phone:before { content: "\e668"; }

.wi-tag:before { content: "\e669"; }

.wi-link:before { content: "\e66a"; }

.wi-upload:before { content: "\e66b"; }

.wi-avail:before { content: "\e66c"; }

.wi-download:before { content: "\e66d"; }

.wi-card:before { content: "\e66e"; }

.wi-guarantee:before { content: "\e66f"; }

.wi-frozen:before { content: "\e670"; }

.wi-radio-selected:before { content: "\e671"; }

.wi-radio:before { content: "\e672"; }

.wi-check:before { content: "\e673"; }

.wi-check-select:before { content: "\e674"; }

.wi-right-sign:before { content: "\e675"; }

.wi-rignt-cricle:before { content: "\e676"; }

.wi-right:before { content: "\e677"; }

.wi-success-sign:before { content: "\e675"; }

.wi-success-cricle:before { content: "\e676"; }

.wi-success:before { content: "\e677"; }

.wi-error-sign:before { content: "\e678"; }

.wi-error-cricle:before { content: "\e679"; }

.wi-warning-sign:before { content: "\e67a"; }

.wi-error:before { content: "\e67b"; }

.wi-warning-cricle:before { content: "\e67c"; }

.wi-back-sign:before { content: "\e67d"; }

.wi-back-cricle:before { content: "\e67e"; }

.wi-explain-sign:before { content: "\e67f"; }

.wi-photograph:before { content: "\e680"; }

.wi-img:before { content: "\e681"; }

.wi-explain:before { content: "\e682"; }

.wi-forum:before { content: "\e683"; }

.wi-view:before { content: "\e684"; }

.wi-site:before { content: "\e685"; }

.wi-wallet:before { content: "\e686"; }

.wi-tel:before { content: "\e687"; }

.wi-application:before { content: "\e688"; }

.wi-service:before { content: "\e689"; }

.wi-angle-down:before { content: "\e68a"; }

.wi-developer:before { content: "\e68b"; }

.wi-collect:before { content: "\e68c"; }

.wi-angle-up:before { content: "\e68d"; }

.wi-index:before { content: "\e68e"; }

.wi-search:before { content: "\e68f"; }

.wi-delete:before { content: "\e690"; }

.wi-share:before { content: "\e691"; }

.wi-setting:before { content: "\e692"; }

.wi-message:before { content: "\e693"; }

.wi-info-sign:before { content: "\e694"; }

.wi-info-cricle:before { content: "\e695"; }

.wi-angle-right:before { content: "\e696"; }

.wi-angle-left:before { content: "\e697"; }

.wi-go-cricle:before { content: "\e698"; }

.wi-go-sign:before { content: "\e699"; }
//扩展
.wi-safeguard {
    @extend .wi-guarantee;
    &:before {
        height: 16px;
        display: inline-block;
        background-color: $default-color;
        color: #fff;
        padding: 0 3px;
        margin-right: 5px;
        font-size: 12px;
        font-family: "wi" !important;
        line-height: 16px;
    }
    height: 18px;
    border: 1px solid $default-color;
    display: inline-block;
    padding-right: 5px;
    font-size: 10px;
    font-family: "微软雅黑", "microsoft yahei" !important;
    line-height: 15px;
    color: $default-color;
    &:after {
        content: "元";
        font-size: 10px;
    }
}
